*.iml
*.ipr
*.iws
bin/
build/
dist/
out/
packaging_tools/**/.*
Testing/
tests
test*
examples/**/.*
benchmarking
problem_cases
.idea
.DS_Store

*.log
*.trees
*.tree
*.xml
!examples/**/*.xml
!examples/data
benchmarking/Results/

zig_zag
src/revision.txt
*.dmg
*.zip
*.tgz
release*
src/revision.txt

*.citations.txt
*.ops
*.MLE
