*.iml
*.ipr
*.iws
bin/
build/
dist/
out/
.idea
.DS_Store

*.log
*.trees
*.tree
*.xml
!examples/**/*.xml
!tests/**/*.xml
!src/test/resources/dr/evomodel/treedatalikelihood/continuous/canonical_ou_hmc_seed666.xml

zig_zag
src/revision.txt
*.dmg
*.zip
*.tgz
release/Mac
release/Linux
release/Windows
src/revision.txt

*.citations.txt
*.ops
*.MLE
.Rproj.user
