*.iml
*.ipr
*.iws
bin/
build/
dist/
out/
Testing/
.idea
.DS_Store

*.log
*.trees
*.tree
*.xml
!examples/**/*.xml
!tests/**/*.xml

zig_zag
src/revision.txt
*.dmg
*.zip
*.tgz
release/Mac
release/Linux
release/Windows
release*
src/revision.txt

*.citations.txt
*.ops
*.MLE
packaging_tools/mac/signing_certificates_how_to.txt
