name: BEAST CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BEAGLE_DIR: ${GITHUB_WORKSPACE}/beagle-lib
      BEAGLE_LIB: ${BEAGLE_DIR}/usr/local/lib
      BEAGLE_BRANCH: v4_release


    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Setup cmake
        uses: lukka/get-cmake@latest
      #      - name: Build BEAGLE
#      - run: git clone -b $BEAGLE_BRANCH --depth 1 https://github.com/beagle-dev/beagle-lib.git $BEAGLE_DIR
#      - run: cd $BEAGLE_DIR
#      - run: mkdir build
#      - run: cd build
#      - run: echo $PWD
#      - run: cmake -DBUILD_CUDA=OFF -DBUILD_OPENCL=OFF ..
#      - run: make DESTDIR=BEAGLE_DIR
      - run: chmod +x ci/build_beagle.sh
      - run: ci/build_beagle.sh
      - run: ant dist
      - run: java -jar -Djava.library.path=${BEAGLE_LIB} build/dist/beast.jar -beagle_info
#      - run: chmod +x ci/test.sh
#      - run: ci/test.sh
#      - run: chmod +x ci/test_with_load_state.sh
#      - run: ci/test_with_load_state.sh
#      - run: ant -Djava.library.path=${BEAGLE_LIB} junit
